.bg {
  /* Background Image */
  background-image: url(./assets/background-room.jpg);
  height: 100vh;

  /* Center and scale the background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interactable-container {
  display: flex;
  flex-wrap: wrap;
  height: 97%;
}

.game-col-1 {
  height: 100%;
  width: 20%;
  max-width: 20%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.game-col-2 {
  height: 100%;
  width: 32%;
  max-width: 32%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.game-col-3 {
  height: 100%;
  width: 32%;
  max-width: 32%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.game-col-4 {
  height: 100%;
  width: 16%;
  max-width: 16%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.announcement-select {
  margin-top: 35%;
  position: fixed;
}

.bounty-select {
  margin-top: 12%;
  padding-top: 2px;
  position: fixed;
  border-radius: 0%;
  cursor: pointer;
  pointer-events: auto;
  background-color: #271b13;
}

.bounty-select:hover {
  border: 2px solid transparent;
  border-color: #da6619;
}

.navigate-select {
  margin-top: 27%;
  position: fixed;
}

.achievement-select {
  margin-top: 12%;
  position: fixed;
}